@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

.mybg {
  background-color: #06263d;
}

.head-border {
  border-top: 4px solid#06263D;
}

.blacktext {
  color: #06263d;
}

h1,
h2 {
  font-family: Lato;
}

